.list .text {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#info {
    font-size: 21px;
    word-wrap: break-word;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}